env/*
__pycache__/
lib/__pycache__/
.DS_Store
*-private.yaml
*.egg-info
dist/*
build/*
*.txt
*results.csv
examples/donors/results/*
examples/donors/data_tiny.csv
examples/donors/visualization/*
examples/donors/feature_data/*
examples/donors/model/*
*.ipynb_checkpoints
*.sublime-workspace

